  
@tailwind base;
h1 {
@apply text-4xl font-semibold;
}
h2 {
@apply text-3xl font-medium;
}
h3 {
@apply text-2xl font-normal;
}
h4 {
@apply text-xl ;
}
h5 {
@apply text-base;
}
h6{
    @apply text-sm;
}
@tailwind components;
@tailwind utilities;
